%{ 
// vim: set ft=C :
#include <stdlib.h>
#include <string.h>
%}

%language=ANSI-C
%enum
%struct-type
%global-table
%define word-array-name part_table
%define lookup-function-name part_get
%define hash-function-name part_hash
%define constants-prefix PART_
%define initializer-suffix ,0,0

struct partition {
    char *name;
    size_t main_count;
    size_t bf_count;
}
    
%%
